<div class="row" id="headContainer" align="center">
  		<div class="headInactive" id="head1" title="Choose the title, type of the thesis and name of the reviewer. You can go back here and change those any time you want, you will not lose the text you have written.">Create the review</div>
  		<div class="headInactive" id="head2" title="Choose paragraphs and define the topic by keywords. You can go back here any time you want, you will lose some of the text you have written only if you deselect a paragraph.">1. Choose paragraphs and specify the topic</div>
  		<div class="headInactive" id="head3" title="Evaluate the thesis - according to this evaluation sentences you can use will be generated. If you go back here, new sentences will be generated according to your new evaluation. You will not lose any text.">2. Evaluate the thesis</div>
  		<div class="headInactive" id="head4" title="In this step you will write the text of your review. You will also get suggestions what to write about based on your evaluation.">3. Write your review</div>
  		<div class="headInactive" id="head5" title="Here you can check the review you have written and correct anything you want. Then you can save it in form of a TEX file.">4. Finish and save your review</div>		
</div>