<div class="row" id="headContainer" align="center">
  		<div class="headInactive" id="head1">Create the review</div>
  		<div class="headInactive" id="head2">1. Choose paragraphs and specify the topic</div>
  		<div class="headInactive" id="head3">2. Evaluate the thesis</div>
  		<div class="headInactive" id="head4">3. Write your review</div>
  		<div class="headInactive" id="head5">4. Finish and save your review</div>		
</div>