<!DOCTYPE html>
<html>
  <head>
    <title>Review editor#if ($stepNo) - step $stepNo #end</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    #if ($jsFile)
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
    #if ($stepNo.equals("2"))
    <link rel="stylesheet" href="aehlke-tag-it/css/jquery.tagit.css" type="text/css">
    <script src="aehlke-tag-it/js/tag-it.js" type="text/javascript" charset="utf-8"></script>
    #end
    #if ($stepNo.equals("3"))
    <link rel="stylesheet" href="slider/css/slider.css" type="text/css">
    <script src="//raw.githubusercontent.com/seiyria/bootstrap-slider/master/dist/bootstrap-slider.js" type="text/javascript" charset="utf-8"></script>
    #end
    <script type="text/javascript" src="$jsFile"></script>
    #end
  </head>
  <body>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
